.footer{
	padding: 50px 0;
	width: 100%;

	.container-footer {
		margin: 0 -45px;
	}

	.diretoria {
		width: 330px;
		display: block;
		margin: 0 auto;
	}

	h4 {
		margin-bottom: 25px;
		font-weight: $extra-bold;
	}

	span, p, a {
		font-size: .75rem;
		line-height: 1rem;
		font-weight: $regular;
	}

	span {
		display: table-cell;

		&.titulo {
			font-weight: $medium;
			padding-right: 15px;
		}
	}

	h4, .titulo {
		width: 110px;
		text-align: right;
	}

	.content-footer {
		padding-top: 60px; 
		padding-bottom: 60px; 
	}

	.border {
		border-top: 1px solid #ebebef;

		&.copy {
			padding-top: 25px; 
			padding-bottom: 25px; 
		}
	}

	.info-footer {
		text-align: center;
	}

	.col-footer {
		max-width: 33.333%;
		display: inline-block;
		text-align: left;
		float: none;
	}

	.box-contato {
		position: relative;

		div {
			padding-left: 50px;
		}

		img {
			width: 38px;
			position: absolute;
			left: 0px;
			top: 0;
		}

		span, a {
			font-size: 1rem;
			line-height: 1.25rem;
			font-weight: $light;
		}
	}
}