.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	padding: 20px 0;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px #cbcaca;
	@include animacao-slow;
	@include box-sizing;
}



/*
.home, .single-servicos, .single-post, .page {
	.header {
		padding: 40px 0;
		background-color: transparent;

		&.scroll {
			background-color: #ffffff;
			padding: 20px 0;
		}
	}
}
*/

.breadcrumbs {
	background-color: rgba($cor1, 0.1);
	padding: 45px 0 40px;

	h1 {
		margin: 0 auto 5px;
		text-align: center;
		max-width: 800px;
	}

	&:not(.margin-top) {
		padding-top: 30px;
	}

	ul {
		width: 100%;
		text-align: center;

		li, li a {
			font-weight: $regular;
			font-size: .75rem;
		}

		li {
			margin: 0 2px; 
			display: inline-block;

			i {
				color: $cor1;
				font-size: 6px;
				position: relative;
				top: -1px;
			}	

			&:last-child {
				padding-right: 0px;
			}
		}
	}

	&.breadcrumbs-content {
		height: 370px;

		h1 {
			margin-top: 65px;
		}
	}
}