 

// 1300px
@media all and (max-width: 1300px){

	.logo {
		float: left;
		width: 150px;
	}

	body {
		padding-top: 85px;
	}

	.nav, .atendimento {
		margin-top: 8px;
	}

	.btn-topo {
		margin-top: 4px;
	}

}


@media all and (max-width: 1200px){
	.beneficios {
		.beneficios-links {
			li {
				.link-content {
					width: 100px;
					height: 60px;
					padding: 5px;

					span {
						font-size: .85rem;
						line-height: .85rem;
					}
				}

				&.on {
					.link-content {
						height: 60px;
						padding: 5px;

						span {
							width: 95px;
							font-size: .85rem;
							line-height: .85rem;
						}

						&:after {
							border-left: 10px solid transparent;
							border-right: 10px solid transparent;
							border-top: 10px solid #4a8443;
							bottom: -10px;
							margin-left: -10px;
						}
					}
				}
			}
		}
	}
}

// 1180px
@media all and (max-width: 1180px){
	.menu-mobile {
		display: inline-block;
	}

	.btn-topo {
		width: 165px;
		text-align: center;
		position: fixed;
		top: 0px;
		right: -210px;
		background-color: $cor1;
		height: 100vh;
		margin: 0;
		padding: 70px 20px 0;
		z-index: 20;

		.btn.cor1.transparente {
			color: #ffffff;
			border-color: #ffffff;
			display: block;
			margin-top: 20px;

			&:hover {
				background-color: #ffffff;
				color: $cor1;
			}
		}

		&.open {
			right: 0;
		}	
	}

	.atendimento {
		float: right;
		margin-right: 80px;
	}
}

// 1180px
@media all and (max-width: 1080px){

	/*.footer {
		.footer-col {
			width: 50%;

			&:nth-child(2) {
				display: none;
			}
		}
	}*/
}



@media all and (max-width: 1080px) and (min-width: 800px){
	.block-item.block-item-page-top {
		padding: 25px 15px;

		.titulo {
			margin-bottom: 10px;
			font-size: 1.75rem;
		}
	}
}



// 1080px	
@media all and (max-width: 1080px){

	h1 {
		font-size: 2.5rem;
		line-height: 2.5rem;
	}

	.breadcrumbs.breadcrumbs-content {
		height: 250px;

		h1 {
			margin-top: 15px;
		}
	}

	.img-avatar {
		display: none;
	}

	.banner-full-height {
		display: none;
	}

	.carousel-banner {
		.mask-banner-home {
			background: rgba($cor1, 0.5);
			height: calc(75vh - 95px);
		}

		.full-height {
			&.bg-imagem {
				background-size: cover;

				.container {
					height: calc(75vh - 95px);

					.box-destaque {
						margin: 0 auto;
						max-width: 600px;
						text-align: center;

						h4, .subtitulo {
							color: #ffffff;
						}

						.titulo {
							color: $cor2;
						}
					}
				}
			}
		}
	}

	.banner-full-txt .box-destaque {
		padding: 0;
		margin: 0 auto;
		display: block;
		float: none;
		max-width: 100%;
	}

	.banner-full-50 {
		margin-top: 100px;
		border-radius: 0;
		width: 100%;
		height: 60vh!important;
	}

	#associese {
		padding: 25px;

		.dados-info {
			display: none;
		}
	
		h4 {
			display: none;	
		}

		h2 {
			font-size: 1.5rem;
			line-height: 1.75rem;
			margin-bottom: 10px;
		}

		h2, p, input {
			color: #ffffff;
		}

		p {
			margin: 0px;
		}

		form.associe-se {
			margin: 20px 0 0;

			input, textarea {
				border-color: #ffffff;

				@include placeholder{
					color: #ffffff;
				}
			}

			.btn {
				border-color: #ffffff;
				color: #ffffff;
			}
		}
	}

	.row:not(.no-padding) [class*="col-"] {
		&.banner-full-txt {
			width: 100%;
			height: 60vh!important;				
		} 
	}

	.btn-associarse {
		display: inline-block!important;
	}

	.info-footer {
		.col-footer {
			width: 50%;
			max-width: 360px;

			&:first-child {
				margin-bottom: 20px;
				width: 100%;
				max-width: 100%;
				display: block;
				text-align: center;
			}
		}
	}

	.exponor {
		.row:not(.no-padding) [class*="col-"] {

			width: 100%;
			max-width: 100%;

			.conteudo {
				padding: 0 80px;
				text-align: center;

				h4, h2 {
					max-width: 650px;
					margin-right: auto;
					margin-left: auto;
				}

				p {
					text-align: justify;
				}
			}

		}

		.dados-info {
			max-width: 510px;
			margin: 50px auto 0;
		}
	}
}



// 900px
@media all and (max-width: 900px){

	.beneficios {
		.beneficios-links {
			li {
				margin-bottom: 5px;

				.link-content {
					width: 100px;
					height: 60px;
					padding: 5px;
				}

				&.on {
					.link-content {
						height: 60px;
						padding: 5px;

						span {
							width: 95px;
							font-size: .85rem;
							line-height: .85rem;
						}

						&:after {
							display: none;
						}
					}
				}
			}
		}
	}

	.carousel-blog {
		padding-bottom: 40px;
	}

	.nav {
		display: block;
		position: fixed;
		background: $cor1;
		top: 0;
		right: -400px;
		height: 100vh;
		width: 400px;
		margin: 0;
		z-index: 10;
		padding: 80px 0 0;

		&.open {
			right: 0;

			a {
				color: #ffffff;
			}
		}

		ul {
			display: block;
			padding-right: 37px;
			//padding-right: 150px;
			//padding-top: 65px;

			li {
				display: block;
				padding: 5px 0;
				text-align: right;

				a {
					display: inline-block;
					font-size: 1.5rem;
					line-height: 1.5rem;
					padding: 10px;

					i {
						font-size: 2rem;
						color: #fff;
					}

					&:hover {
						opacity: .5;

						i {
							color: #ffffff;
						}
					}
				}
			}
		}
	}


	.btn-topo {
		text-align: left;
		top: 380px;
		right: -400px;
		background-color: transparent;
		height: auto;
		margin: 0 40px 0 0;
		padding: 0;
		width: 300px;

		.btn.cor1.transparente {
			display: inline-block;
			margin-top: 0;
		}

		&.open {
			right: 0px;
		}
	}

	.missao-vissao-valores {
		.row {
			&.flex {
				display: block;
				
				.col-4 {
					.block-item.block-item-page-top {
						margin: 0;
					}

					&:first-child {
						.block-item.block-item-page-top {
							margin-top: -100px; 
						}
					}
				}
			}
		}
	}

	.row {
		.col-4, .col-6 {
			display: block;
			float: none;
			width: 100%;
			max-width: 400px;
			margin: 0 auto 30px;

			&:last-child {
				margin-bottom: 0px;
			}

			.bg-imagem {
				height: 60vh!important;
			}
		}
	}

	.beneficios-item {
		.row .col-4, .row .col-6 {
			max-width: 600px;
		}		
	}
}


// 750px
@media all and (max-width: 750px){


	.info-footer .col-footer {
		width: 360px;
		max-width: none;
		margin-bottom: 30px;
	}
	
	.row:not(.no-padding) {
		.content-footer {
			[class*="col-"] {
				width: 100%;
			}
		}
	}

}


// 680px
@media all and (max-width: 680px){

	.exponor {
		.row:not(.no-padding) [class*="col-"] {
			.conteudo {
				padding: 0px;
			}
		}
	}

	.row:not(.no-padding){
		margin-right: 0;
		margin-left: 0;

		[class*="col-"] {
			padding-right: 10px;
			padding-left: 10px;

			&.content-footer  {
				padding-right: 0;
				padding-left: 0;
			}
		}
	}

	.box-section .conteudo-post .content {
		padding: 0px;
	}


	.btn-topo, .nav {
		right: -100%;

		&.open {
			right: 0;
		}
	}

	.nav {
		width: 100%;
	}

	.btn-topo {
		width: auto;
	}

	.dados-info {
		.info-item {
			margin-bottom: 60px;

			&:last-child {
				margin-bottom: 0;
			}

			.info-table, .info-txt {
				display: block;
				width: 100%;
				padding: 0;
				text-align: center;
			}

			.info-txt {
				border: none;
				margin-top: 15px;
			}

			.info-table {
				.info-num, .info-legenda {
					//display: inline-block;
					//vertical-align: middle;
				}

				.info-legenda {
					margin: 10px 0 0 5px;
				}
			}
		}
	}

	.footer {
		.content-footer {
			.col-6 {
				padding: 0;
			}
		}
		.diretoria {
			width: 100%;
		}

		.img-footer {
			img {
				margin-top: 15px;
			}
		}
	}
}


// 480px
@media all and (max-width: 480px){

	.atendimento {
		width: 100%;
		z-index: 20;
		position: fixed;
		top: 30px;
		padding-left: 30px;
		margin: 0;
		right: -100%;
		@include box-sizing;
		@include animacao-slow;

		i, div, div span {
			color: #ffffff;
		}

		&.open {
			right: 0px;
		}
	}
}


@media all and (max-width: 400px){
	.footer {
		h5, .titulo {
			width: 100%;
			text-align: left;
			display: block;
		}

		span {
			display: block;
		}
	}
}


@media all and (max-width: 380px){

	.row {
		&.list-post {
			&.projetos {
				.col-4 {
					width: 100%;
				}
			}
		}
	}


	a, button {
		&.btn {
			&.extra {

			}

			&.extra-grande {
				font-size: 1.125rem;
				padding: 0 10px;
			}
		}
	}


	.fancybox-container {
		.fancybox-content {
			padding: 25px;
		}
	}

}