.nav {
	float: left;
	margin: 13px 0 0 15px;
	//padding-left: 60px;
	@include animacao-slow;

	ul {
		display: table-cell;
		@include box-sizing; 

		li {
			display: table-cell;
			line-height: 30px;
			padding: 0px 5px;
			text-align: center;
		}
	}

	a {
		font-size: 1rem;
		line-height: 1.125rem;
		color: $cor-txt;
		font-weight: $regular;
		padding: 0px 5px;
		@include animacao-slow;

		i {
			font-size: 1.5rem;
			display: inline-block;
			color: $cor-txt;
			position: relative;
			padding: 0 5px;
			top: 3px;
		}

		&:hover, &.ativo {
			color: $cor1;

			i {
				color: $cor1;
			}
		}
	}
}


.btn-topo {
	float: right;
	margin: 7px 0 0 20px;

	.btn {
		margin: 0 5px;
	}
}

.atendimento {
	float: left;
	margin: 12px 30px 0;

	i, div {
		display: table-cell;
		vertical-align: middle;
	}

	i {
		font-size: 32px;
	}

	div {
		padding-left: 5px;
		font-weight: $bold;
		font-size: .875rem;
		line-height: 1.25rem;
		text-transform: uppercase;

		span {
			display: block;
			font-size: .65rem;
			line-height: .65rem;
			font-weight: $regular;
		}
	}
}



.header {
	&.scroll {
		.nav {
			a {
				//color: $cor-txt;
			}
		}
	}
}




// MENU MOBILE
.menu-mobile {
	display: none;
	position: fixed;
	right: 47px;
	margin: 0;
	top: 27px;
	@include clear;

	&.open {
		display: table;
	}
}


#nav-icon2 {
  width: 35px;
  height: 25px;
  //position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 {
	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 50%;
		background: $cor1;
		opacity: 1;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}

	&.open {
		span {
			background: #ffffff;
		}
	}
}

.home, .single-servicos, .single-post, .page {
	#nav-icon2 span {
		background: #ffffff;
	}
}

.header {
	&.scroll {
		#nav-icon2 {
			span {
				background: $cor1;
			}

			&.open {
				span {
					background: #ffffff;
				}
			}
		}
	}
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: -1px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 11.5px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 24px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 6px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 1px);
  top: 6px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 19px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 1px);
  top: 19px; 
}