.blog {
	&.list-blog {
		display: flex;

		[class*="col-"] {
			padding-bottom: 30px;
		}

		img {
			border-radius: 10px;
			width: 100%;
			display: block;
			margin-bottom: 20px;
		}

		h3 {
			margin-top: 5px;
		}
	}

	.data {
		font-size: .85rem;
		font-weight: $light;
		font-family: $font-titulo;
	}

	&.detalhe-blog {
		.data {
			margin: 0 auto 10px;
			display: block;
			text-align: center;
			font-weight: $bold;
		}

		.autor, .fonte {
			font-size: 1rem;
			display: block;
			font-weight: $medium;
		}

		.autor {
			margin: 30px 0;
		}

		.fonte {
			margin-top: 30px;
		}
	}
}


.beneficios {

	.beneficios-links {
		display: block;
		width: 100%;
		text-align: center;

		li {
			display: inline-block;
			vertical-align: middle;
			margin: 0px 1px;

			.link-content {
				display: table-cell;
				padding: 10px;
				border-radius: 10px;
				background-color: rgba($cor1, 0.1);
				width: 130px;
				height: 85px;
				vertical-align: middle;
				text-align: center;
				cursor: pointer;
				@include box-sizing;
				//@include animacao;

				span {
					font-size: 1.125rem;
					font-weight: $regular;
					font-family: $font-titulo;
					//@include animacao;
				}
			}


			&:hover {
				.link-content {
					background-color: rgba($cor1, 0.15);

					span {
						color: $cor1;
					}
				}
			}

			&.on {
				.link-content {
					width: auto;
					height: 110px;
					padding: 10px 20px;
					background-color: $cor1;
					position: relative;
					cursor: default;

					&:after {
						content: '';
						width: 0; 
						height: 0; 
						border-left: 20px solid transparent;
						border-right: 20px solid transparent;
						border-top: 20px solid $cor1;
						position: absolute;
						bottom: -20px;
						left: 50%;
						margin-left: -20px;
					}

					span {
						width: 150px;
						display: block;
						color: #ffffff;
						font-size: 1.5rem;
						line-height: 1.5rem;
						font-weight: $bold;
					}
				}
			}
		}
	}

	.beneficios-conteudo {
		margin-top: 50px;
		position: relative;

		.beneficios-item {
			opacity: 0;
			top: 0;
			left: 0px;
			position: absolute;
			width: 100%;
			@include animacao;

			.bg-imagem {
				position: relative;
			}

			img {
				width: 100px;
				position: absolute;
				right: 20px;
				top: 20px;
			}

			&.on {
				position: relative;
				opacity: 1;
			}
		}
	}
}