.blog {
	&.list-blog {
		display: flex;

		[class*="col-"] {
			padding-bottom: 30px;
		}

		img {
			border-radius: 10px;
			width: 100%;
			display: block;
			margin-bottom: 20px;
		}

		span {
			font-size: .65‬rem;
			font-weight: $light;
			font-family: $font-titulo;
		}

		h3 {
			margin-top: 5px;
		}
	}
}