.box-destaque {
	width: 100%;
	max-width: 370px;

	.titulo, .subtitulo {
		font-family: $font-titulo;
	}

	.titulo {
		font-size: 3.75rem;
		line-height: 3.75rem;
		margin: 0px 0 15px -3px;
	}

	.titulo {
		display: block;
		font-weight: $extra-bold;

		/*&.medium {
			font-weight: $medium;
		}

		.super {
			position: relative;
			top: -5px;
			margin-right: 5px;
			font-weight: $semi-bold;
		}

		&.tit-single {
			padding-bottom: 30vh;
		}*/
	}

	.subtitulo {
		font-size: 1.1875rem;
		line-height: 1.5rem;
		margin-top: 10px;
		display: block;
		font-weight: $regular;
	}

	a {
		margin-top: 55px;
	}
}

	.img-avatar {
		position: absolute;
		width: 125px;
		top: 35%;
		left: 45%;
		margin: -62.5px 0 0 -62.5px;
		z-index: 20;
	}


.block-item {
	//margin: 70px 0;
	display: block;
	padding: 35px;
	box-shadow: 12px 19px 62px 0 rgba(13,52,79,.07);
	border-radius: 10px;
	background-color: #ffffff;

	.titulo, img, .subtitulo {
		display: block;
	}

	.titulo {
		font-family: $font-titulo;
		font-weight: $extra-bold;
		font-size: 1.625rem;
		line-height: 1.625rem;
		margin-bottom: 30px;
		min-height: 52px;
	}

	img {
		width: 100px;
		margin-bottom: 15px;
	}

	.subtitulo {
		font-size: 0.75rem;
		line-height: 1.125rem;
		font-family: $font-titulo;
		font-weight: $bold;
	}

	&.hover {
		&:hover {
			background-color: rgba(#4a8443, .05);

			.titulo, .subtitulo {
				//color: #ffffff;
			}
		}
	}

	&.block-item-page-top {
		padding: 50px;
		margin-top: -100px;

		.titulo {
			font-size: 2.5rem;
		}

		.subtitulo {
			text-align: justify;
			overflow-wrap: break-word;
			word-wrap: break-word;
			-webkit-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
			hyphenate-limit-chars: 10 4 4;		
			-webkit-hyphenate-limit-chars: 10 4 4;
			-ms-hyphenate-limit-chars: 10 4 4;
		}
	}
}


.dados-info {
	margin-top: 50px;
	width: 100%;

	.info-item {
		//padding-left: 35px;
		margin-bottom: 35px;
		display: table;
		width: 100%;

		.info-table, .info-txt {
			display: table-cell;
			vertical-align: middle;
		}

		.info-table {
			width: 120px;
			padding: 0 30px;

			.info-num {
				color: $cor1;
				display: block;
				font-family: $font-titulo;
				font-size: 3.5rem;
				line-height: 2.5rem;
				font-weight: $extra-bold;

				span {
					color: $vermelho;
					font-size: 1.5rem;
					font-weight: $regular;
					position: relative;
					top: -25px;
					margin-left: 2px;
				}
			}

			.info-legenda {
				font-family: $font-titulo;
				font-size: 0.875rem;
				font-weight: $light;
				display: block;
				text-transform: uppercase;
				letter-spacing: 1px;
				line-height: 1rem;
				margin-top: 10px;
			}
		}

		.info-txt {
			font-size: .87rem;
			font-weight: $light;
			padding: 30px;
			border-left: 1px solid $borda;
		}

		&:last-child {
			margin-bottom: none;
		}
	}

	&.list-dados-info {
		display: block;

		.info-item {
			width: auto;
			display: inline-block;
			margin-left: 60px;

			&:first-child {
				margin-left: 0px;
			}

			.info-table {
				padding: 0;
				width: auto;

				.info-num {
					font-size: 3rem;
					line-height: 2rem;

					span {
						font-size: 1.25rem;
						top: -25px;
					}
				}

				.info-legenda {
					font-size: 0.75rem;
					letter-spacing: normal;
					margin-top: 5px;
				}
			}
		}
	}
}


.banner-full-50 {
	margin-top: 60px;
	position: absolute;
	left: 0px;
	width: calc(50% - 25px);
	top: 0;
	background-size: cover;
	background-repeat: none;
	background-position: center;
	border-radius: 0 10px 10px 0;
	overflow: hidden;

	&:after {
		position: absolute;
		top: 0px;
		content: '';
		width: 100%;
		height: 100%;
		background-color: rgba($cor1, .5);
	}
}

.banner-full-txt {
	.box-destaque {
		max-width: 400px;
		float: right;
		padding-right: 30px;

		.titulo {
			color: #ffffff;
			font-size: 3rem;
			line-height: 3.25rem;
		}

		a {
			margin-top: 20px;
		}
	}
}

.btn-associarse {
	display: none!important;
}


.info-contato {
	display: block;
	margin-top: 20px;
	font-size: 1rem;
	line-height: 1.25rem;
	font-weight: 300;

	a {
		font-size: 1rem;
		line-height: 1.25rem;
		font-weight: 300;
		text-decoration: underline;
	}

	span {
		display: block;
		font-weight: $medium;
		font-size: 1rem;
		line-height: 1.25rem;
		margin-bottom: 5px;
	}
}

// OK

.clientes {
	@include clear;

	.item-cliente {
		//width: 20%;
		padding: 0 5px;
		//float: left;
		text-align: center;
		@include box-sizing;

		img {
			width: 145px;
			margin-bottom: 60px;
		}
	}
}

.depoimentos {
	width: 80%;
	max-width: 570px;
	margin: 200px auto 0;
	@include clear;

	.item-depoimento {
		//width: 100%;
		text-align: center;
		margin-bottom: 60px;
		@include box-sizing;

		span {
			display: block;

			&.titulo {
				font-weight: $regular;
				font-size: 2.25rem;
				line-height: 2.75rem;
			}

			&.autor {
				max-width: 420px;
				margin: 40px auto 0;
				font-size: 1.5rem;
				line-height: 2rem;
			}
		}
	}
}



.owl-carousel {
	.owl-nav {
		button {
			border: 2px solid rgba($cor-txt-claro,.75);
			background-color: transparent;
			margin: 0 18px;

			i {
				font-size: 27px;
				padding: 4.5px 9.5px;
				color: rgba($cor-txt-claro,.75);
			}

			&.owl-next {

			}

			&.owl-prev {

			}

			&.disabled {
				opacity: 0;
			}
		}
	}
}

#demonstracao {
	display: none;
	margin-top: 30px;

	.scrollbar {
		overflow-y: hidden;
		max-height: calc(100vh - 220px); 
	}

	h2, p, input, textarea {
		color: #ffffff;
	}

	input, textarea {
		border-color: #ffffff;
		
		@include placeholder{
			color: #ffffff;
		}
	}

	.scrollbar-dynamic > .scroll-element .scroll-bar {
		background-color: #ffffff;
	}

	.scrollbar-dynamic > .scroll-element .scroll-element_size {
		background: transparent;
	}
}

.fancybox-container {

	.fancybox-button {
		width: 70px;
		height: 70px;

		svg {
			path {
				color: #ffffff;
			}
		}

		&:hover {
			background: #ffffff;

			svg {
				path {
					color: $cor1;
				}
			}
		}
	}

	.fancybox-bg {
		background: $cor1;
	}

	&.fancybox-is-open {
		.fancybox-bg {
			opacity: 1;
		}
	}

	.fancybox-content {
		background: transparent;
		overflow: hidden;
		vertical-align: top;
		max-height: 90vh;
	}
}

.box-section {
	.ico-contato {
		border: none;
		max-width: 100%;

		&.conteudo {
			padding: 0;
			margin: 0 auto;
			max-width: 750px;
			width: 100%;
		}

		.item {
			float: left;
			width: 33.333%;
			max-width: 250px;
			//max-width: 100%;
			text-align: center;

			span {
				font-size: 1rem;
				line-height: 1.25rem;
				text-align: left;
				display: inline-block;
				@include clear;
			}

			i {
				display: block;
				font-size: 3rem;
				margin-bottom: 15px;
				
			}
		}
	}

	&.video-slide {
		@media all and (max-width: 1440px){
			margin-top: -2px;
		}

		&.bg-mascara:before {
			z-index: 1;
		}

		.container {
			z-index: 2;
			height: 93vh;
			//height: 87vh;
		}

		video {
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			height: 93vh;
		}
	}
}